<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljs.ljsbackend.common.menu.mapper.MenuMapper">

    <select id="getMenuList" resultType="MenuDto">
        with recursive menu_list as (
            -- 최상위 부모 정의
            select menu_id
                 , menu_cd
                 , menu_nm
                 , menu_level
                 , menu_path
                 , remark
                 , is_use
                 , parent_menu_cd
                 , menu_cd as path
                 , insert_id
                 , insert_date
                 , update_id
                 , update_date
              from menu
             where parent_menu_cd is null
               and parent_menu_cd is null

            union all

            -- 단계별 부모와 자식 매핑
            select a.menu_id
                 , a.menu_cd
                 , a.menu_nm
                 , a.menu_level
                 , a.menu_path
                 , a.remark
                 , a.is_use
                 , a.parent_menu_cd
                 , concat( menu_list.path, ' > ', a.menu_cd) as path
                 , a.insert_id
                 , a.insert_date
                 , a.update_id
                 , a.update_date
              from menu_list
              join menu a on a.parent_menu_cd  = menu_list.menu_cd
        )
        select menu_id
             , menu_cd
             , menu_nm
             , menu_level
             , menu_path
             , remark
             , case is_use when 'Y' then 'true'
                           else 'false' end as is_use
             , parent_menu_cd
             , path
             , insert_id
             , insert_date
             , update_id
             , update_date from menu_list;

    </select>

    <update id="updateMenu" parameterType="HashMap">
        update menu
           set menu_cd=#{menuCd}
             , menu_nm=#{menuNm}
             , menu_path=#{menuPath}
             , is_use=#{isUse}
             , update_id=#{insertId}
             , update_date=sysdate()
         where menu_id=#{menuId}
           and menu_cd=#{menuCd}

    </update>

    <insert id="insertMenu">
        INSERT INTO menu
                    ( menu_id
                    , menu_cd
                    , menu_nm
                    , menu_level
                    , menu_path
                    , parent_menu_cd
                    , remark
                    , is_use
                    , insert_id
                    , insert_date
                    , update_id
                    , update_date
                    )
        VALUES      ( #{menuId}
                    , #{menuCd}
                    , #{menuNm}
                    , #{menuLevel}
                    , #{menuPath}
                    , #{parentMenuCd}
                    , #{remark}
                    , true
                    , #{insertId}
                    , sysdate()
                    , #{insertId}
                    , sysdate()
                    )
            ON DUPLICATE KEY UPDATE
                          menu_nm=#{menuNm}
                        , menu_level=#{menuLevel}
                        , menu_path=#{menuPath}
                        , parent_menu_cd=#{parentMenuCd}
                        , remark=#{remark}
                        , is_use=#{isUse}
                        , update_id=#{insertId}
                        , update_date=sysdate()
    </insert>

    <delete id="deleteMenu">
        delete from menu
         where menu_cd = #{menuCd}

    </delete>
</mapper>