<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljs.ljsbackend.common.file.mapper.FileMapper">

    <insert id="save" parameterType="Map">

        INSERT INTO file
                    (
                     file_seq
                    , file_nm
                    , file_org_nm
                    , file_type
                    , file_size
                    , file_path
                    , file_create_dt
                    , attr_1
                    , attr_2
                    , is_del
                    , insert_id
                    , insert_date
                    , update_id
                    , update_date
                    )
        VALUES(
          #{FILE_SEQ}
        , #{FILE_NM}
        , #{FILE_ORG_NM}
        , #{FILE_TYPE}
        , #{FILE_SIZE}
        , #{FILE_PATH}
        , #{FILE_CREATE_DT}
        , NULL
        , NULL
        , NULL
        , NULL
        , sysdate()
        , NULL
        , sysdate());
    </insert>

    <select id="getList" resultType="FileDto" parameterType="HashMap">
        select file_key
             , file_id
             , file_seq
             , file_nm
             , file_org_nm
             , file_type
             , file_size
             , file_path
             , file_create_dt
             , datediff( file_create_dt,'20240328')+1 as ljs_days
             , attr_1
             , attr_2
             , is_del
             , insert_id
             , insert_date
             , update_id
             , update_date
         from  file
        where  file_path like concat('%',#{galleryType},'%')
        order  by ljs_days
    </select>

</mapper>